.wellModal{
    display: none;
    z-index: 9999;
    position: fixed;
    opacity: 0;
    transition: 1.5s ease all;
}
.backgroundModal{
    z-index: 9998;
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
[data-purpose="modal"]{
    cursor: pointer;
}
